Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'

refactor: eliminate duplicate TitleAuthorMatcher instantiation and add library-aware auto-add
  src/matching/book-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
  tests/auto-add-library-aware.test.js
Labels: code

fix: handle missing book property in title/author match during auto-add
  src/sync-manager.js
Labels: code

fix: ensure consistent searchResults format across all auto-add paths
  src/sync-manager.js
Labels: code

feat: add Hardcover score field to edition scoring and tie-breaking
  src/hardcover-client.js
  src/matching/utils/unified-edition-scorer.js
Labels: code

fix: correct score normalization to differentiate high-quality editions
  src/matching/utils/unified-edition-scorer.js
Labels: code

fix: correct field name in getUserBooks query (data_score → score)
  src/hardcover-client.js
Labels: code

feat: add dataScore to logs and fix editionScore undefined issue
  src/hardcover-client.js
  src/matching/utils/unified-edition-scorer.js
Labels: code

refactor: centralize display formatting
  package.json
  src/cli/BaseCommand.js
  src/display/SyncResultFormatter.js
  src/logger.js
  src/main.js
  src/utils/display-format.js
  src/utils/display-logger.js
  tests/display-format.test.js
Labels: code

fix: use current version in sync logs
  src/sync-manager.js
Labels: code

refactor: centralize display constants
  src/cli/BaseCommand.js
  src/display/SyncResultFormatter.js
  src/failed-books-reporter.js
  src/logger.js
  src/main.js
  src/utils/debug.js
  src/utils/display-constants.js
  src/utils/display-format.js
  src/utils/display-logger.js
Labels: code

chore: format display files
  src/display/SyncResultFormatter.js
  src/utils/display-logger.js
Labels: code

chore: ignore AGENTS.md
  .gitignore
Labels: none

fix: detect book completion via finished_at timestamp (#159)
  src/progress-manager.js
  tests/completion-detection-finished-at-fix.test.js
Labels: code

chore: fix npm security vulnerabilities in production deps
  .github/workflows/ci.yml
  .husky/pre-commit
  package-lock.json
  package.json
Labels: ci

fix: resolve bookId for title/author two-stage matches needing auto-add
  src/sync-manager.js
Labels: code

fix: update status to Currently Reading when creating re-read session
  src/hardcover-client.js
  wiki/admin/Progress-Regression-Protection.md
Labels: docs, code

chore: remove stale one-off files from root
  DUPLICATE_MATCHING_FIX.md
  SECURITY_NOTE.md
  TESTING_WANT_TO_READ_STATUS_UPDATE.md
  run-all-tests.sh
  test-release-targeting.txt
  test-signing.md
  wait-and-test.sh
Labels: docs

fix: use Promise.allSettled for parallel user syncs
  package.json
  src/main.js
  tests/parallel-sync.test.js
  wiki/admin/Configuration-Reference.md
Labels: docs, code

refactor: standardize error/warn paths through Winston logger
  src/audiobookshelf-client.js
  src/matching/utils/audiobookshelf-extractor.js
  src/sync-manager.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

refactor: extract shared utilities from sync-manager (Phase 1 DRY)
  package.json
  src/sync-manager.js
  src/utils/date-formatter.js
  src/utils/format-compatibility.js
  src/utils/identifier-resolver.js
  src/utils/index.js
  tests/date-formatter.test.js
  tests/format-compatibility.test.js
  tests/identifier-resolver.test.js
  wiki/technical/Architecture-Overview.md
Labels: docs, code

fix: use ebookProgress field for ebook reading progress
  src/audiobookshelf-client.js
  wiki/troubleshooting/FAQ.md
Labels: docs, code

fix: use ebookProgress field for ebook reading progress
  src/audiobookshelf-client.js
  wiki/troubleshooting/FAQ.md
Labels: docs, code

fix: update dependencies to resolve npm audit vulnerabilities
  package-lock.json
Labels: none

fix: detect book completion via finished_at timestamp (#159)
  src/progress-manager.js
  tests/completion-detection-finished-at-fix.test.js
Labels: code

fix: use || instead of ?? for ebookProgress to restore audiobook progress
  src/audiobookshelf-client.js
  wiki/troubleshooting/FAQ.md
Labels: docs, code

chore: remove leftover documentation and test scripts
  DUPLICATE_MATCHING_FIX.md
  SECURITY_NOTE.md
  TESTING_WANT_TO_READ_STATUS_UPDATE.md
  run-all-tests.sh
  test-release-targeting.txt
  test-signing.md
  wait-and-test.sh
Labels: docs

fix: resolve book ID lookup and cache for two-stage title/author matches
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
Labels: code

fix: detect ebook vs audiobook from media files for correct progress and format
  src/audiobookshelf-client.js
  src/matching/utils/audiobookshelf-extractor.js
  wiki/troubleshooting/FAQ.md
Labels: docs, code

fix: show edition format in progress update log for all match types
  src/sync-manager.js
Labels: code

fix: use ebookProgress field for ebook reading progress (#162)
  src/audiobookshelf-client.js
  src/matching/utils/audiobookshelf-extractor.js
Labels: code

fix: resolve missing book ID for two-stage title/author and ISBN search matches
  src/hardcover-client.js
  src/matching/strategies/isbn-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
Labels: code

chore: fix high severity vulnerability in flatted dependency
  package-lock.json
Labels: none

fix: include subtitle in title/author matching for extractTitle
  src/matching/utils/audiobookshelf-extractor.js
Labels: code

fix: resolve security vulnerabilities via npm audit fix
  package-lock.json
Labels: none

ci: add workflow_dispatch trigger to CI workflow
  .github/workflows/ci.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: match ISBN variant identifiers
  package.json
  src/hardcover-client.js
  src/matching/book-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/matching/utils/identifier-lookup.js
  src/matching/utils/text-matching.js
  src/sync-manager.js
  tests/isbn-variant-matching.test.js
Labels: code

fix: resolve audit vulnerabilities
  package-lock.json
  package.json
Labels: none

ci: use release please token
  .github/WORKFLOWS.md
  .github/workflows/release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: resolve audit vulnerabilities
  package-lock.json
  package.json
  wiki/technical/GitHub-Workflows.md
Labels: docs

chore: release v1.23.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs
