Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

enhance: extend cache optimization to all book types and fix variable scope
  src/sync-manager.js
Labels: code

security: update axios to 1.12.0 to fix DoS vulnerability
  package-lock.json
Labels: none

fix: resolve auto-add failure for title/author matched books
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
Labels: code

fix: prevent GraphQL errors from null userBookId values
  src/hardcover-client.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
Labels: code

debug: add enhanced logging for userBook lookup failures
  src/matching/book-matcher.js
Labels: code

fix: trigger auto-add when match found but userBook is null
  src/sync-manager.js
Labels: code

fix: resolve critical auto-add condition bug and add comprehensive tests
  tests/cache-edge-cases.test.js
  tests/cache-optimization-verification.test.js
  tests/cache-verification-simple.test.js
  tests/comprehensive-cache-usage.test.js
  tests/cross-format-sync.test.js
  tests/log-timing-verification.js
  tests/progress-update-no-search.test.js
  tests/quick-double-processing-test.js
  tests/salvage-rat-scenario.test.js
  tests/timing-fix-proof.js
  tests/title-author-cache-demonstration.js
  tests/title-author-cache-fix.test.js
  tests/title-author-robustness.test.js
Labels: none

fix: apply prettier formatting to book-matcher.js
  src/matching/book-matcher.js
Labels: code

fix: resolve cache optimization silent skip bug
  src/sync-manager.js
Labels: code

fix: add validation for auto-add search result structure
  src/sync-manager.js
Labels: code

fix: handle missing book data in auto-add search results
  src/sync-manager.js
Labels: code

fix: use book_id field from editions schema for robust auto-add
  src/hardcover-client.js
  src/sync-manager.js
Labels: code

fix: enhance auto-add with book_id field and apply formatting
  scripts/inspect-api-schemas.js
  src/sync-manager.js
  tests/auto-add-structure-validation.test.js
  tests/cleopatra-silent-skip-test.js
  tests/reproduce-cleopatra-issue.js
Labels: code

fix: handle missing book metadata in auto-add process
  src/sync-manager.js
Labels: code

fix: apply prettier formatting to sync-manager.js and test files
  src/sync-manager.js
  tests/book-metadata-undefined-fix.js
Labels: code

fix: prevent duplicate matching for title/author books during progress updates
  DUPLICATE_MATCHING_FIX.md
  src/sync-manager.js
  tests/duplicate-matching-prevention.test.js
  tests/early-progress-optimization.test.js
  tests/fix-verification.test.js
  tests/minimal-duplicate-matching.test.js
Labels: docs, code

security: update axios to 1.12.2 to fix DoS vulnerability
  package-lock.json
Labels: none

style: fix ESLint prefer-const violation
  src/sync-manager.js
Labels: code

style: apply prettier formatting to all files
  DUPLICATE_MATCHING_FIX.md
  tests/duplicate-matching-prevention.test.js
  tests/early-progress-optimization.test.js
  tests/fix-verification.test.js
  tests/minimal-duplicate-matching.test.js
Labels: docs

fix: ensure consistent title/author cache identifiers across all operations
  src/sync-manager.js
  tests/duplicate-matching-final-verification.test.js
  tests/title-author-identifier-consistency.test.js
Labels: code

style: apply prettier formatting to new test files
  tests/duplicate-matching-final-verification.test.js
  tests/title-author-identifier-consistency.test.js
Labels: none

fix: prevent title/author searches in auto-add fallback for cached books
  src/sync-manager.js
  tests/auto-add-cache-prevention.test.js
  tests/comprehensive-duplicate-prevention.test.js
Labels: code

test: verify auto-add functionality is preserved after duplicate matching fixes
  tests/auto-add-cache-skip-verification.test.js
  tests/auto-add-functionality-preservation.test.js
  tests/auto-add-logic-validation.test.js
  tests/auto-add-real-world-test.test.js
Labels: none

style: apply prettier formatting to auto-add test files
  tests/auto-add-cache-prevention.test.js
  tests/auto-add-cache-skip-verification.test.js
  tests/auto-add-functionality-preservation.test.js
  tests/auto-add-logic-validation.test.js
  tests/auto-add-real-world-test.test.js
  tests/comprehensive-duplicate-prevention.test.js
Labels: none

fix: implement multi-pattern cache lookup for backward compatibility
  src/sync-manager.js
  tests/debug-cache-identifier-mismatch.test.js
  tests/debug-second-progress-check.test.js
  tests/debug-title-author-flow.test.js
  tests/multi-pattern-cache-lookup.test.js
Labels: code

style: apply prettier formatting to debug test files
  tests/debug-cache-identifier-mismatch.test.js
  tests/debug-second-progress-check.test.js
  tests/debug-title-author-flow.test.js
  tests/multi-pattern-cache-lookup.test.js
Labels: none

fix: comprehensive cache optimization eliminates all duplicate title/author searches
  src/sync-manager.js
  tests/comprehensive-cache-optimization.test.js
  tests/debug-mixed-identifier-scenarios.test.js
Labels: code

fix: reuse cached match data to eliminate searches for books with changed progress
  src/sync-manager.js
  tests/cached-match-reuse.test.js
Labels: code

fix: preserve original matching method to prevent cache inconsistencies
  src/sync-manager.js
  tests/preserve-matching-method.test.js
Labels: code

style: apply prettier formatting to final test files
  tests/cached-match-reuse.test.js
  tests/comprehensive-cache-optimization.test.js
  tests/debug-mixed-identifier-scenarios.test.js
  tests/preserve-matching-method.test.js
Labels: none

fix: resolve 'Cannot access hardcoverMatch before initialization' error
  src/sync-manager.js
  tests/variable-initialization-fix.test.js
Labels: code

style: apply prettier formatting to variable initialization test
  tests/variable-initialization-fix.test.js
Labels: none

fix: resolve 'Cannot read properties of undefined' error in _syncExistingBook
  src/sync-manager.js
  tests/undefined-property-fix.test.js
Labels: code

style: apply prettier formatting to undefined property fix test
  tests/undefined-property-fix.test.js
Labels: none

fix: remove synthetic objects to prevent API validation errors
  src/sync-manager.js
  tests/api-safe-optimization.test.js
Labels: code

style: apply prettier formatting to api-safe-optimization test
  tests/api-safe-optimization.test.js
Labels: none

fix: implement direct edition sync to eliminate all title/author searches
  src/sync-manager.js
  tests/cross-cache-reference.test.js
  tests/diagnose-cleopatra-issue.test.js
  tests/direct-edition-sync.test.js
  tests/prevent-redundant-title-author-calls.test.js
Labels: code

style: apply prettier formatting to diagnostic test files
  tests/cross-cache-reference.test.js
  tests/diagnose-cleopatra-issue.test.js
  tests/direct-edition-sync.test.js
  tests/prevent-redundant-title-author-calls.test.js
Labels: none

fix: preserve hardcoverMatch from direct edition sync to enable actual progress updates
  src/sync-manager.js
  tests/direct-sync-actually-syncs.test.js
Labels: code

fix: preserve hardcoverMatch from direct edition sync to enable actual progress updates
  tests/direct-sync-actually-syncs.test.js
Labels: none

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
