Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

bump version to v1.18.5
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

bump version to v1.18.6
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: skip dependency updates from triggering releases
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

refactor: comprehensive author contributions system enhancement
  src/hardcover-client.js
  src/sync-manager.js
  src/utils.js
  wiki/admin/Book-Matching-Logic.md
  wiki/technical/Architecture-Overview.md
  wiki/technical/CLI-Reference.md
  wiki/technical/Data-Models.md
Labels: docs, code

bump version to v1.18.7
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: update dependencies to resolve security vulnerability
  package-lock.json
Labels: none

bump version to v1.18.8
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: critical native module compatibility issue in Docker containers
  docker-entrypoint.sh
  package.json
  scripts/test-native-modules.js
Labels: none

bump version to v1.18.9
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: native module compatibility and comprehensive prevention system
  .github/RELEASE_CHECKLIST.md
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  package.json
  scripts/pre-flight-check.js
Labels: config, ci

bump version to v1.18.10
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: add test environment variables to fix CI configuration validation
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  scripts/pre-flight-check.js
Labels: ci

fix: prevent endless restart loop when configuration is invalid
  docker-compose.yml
  docker-entrypoint.sh
Labels: config

bump version to v1.18.11
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: revert docker-compose.yml to use remote image by default
  docker-compose.yml
Labels: config

fix: resolve better-sqlite3 native module glibc/musl compatibility issue
  Dockerfile
  scripts/test-native-modules.js
Labels: config

bump version to v1.18.12
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: remove npm cache mount that was preserving glibc binaries
  Dockerfile
Labels: config

bump version to v1.18.13
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: complete native module compatibility solution
  Dockerfile
  docker-compose.yml
Labels: config

bump version to v1.18.14
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: resolve title/author matching null reference and GraphQL type errors
  src/hardcover-client.js
  src/sync-manager.js
Labels: code

bump version to v1.18.15
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: add missing integer conversion for getBookCurrentProgress userBookId parameter
  src/hardcover-client.js
Labels: code

bump version to v1.18.16
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: resolve better-sqlite3 native module compatibility issues permanently
  Dockerfile
  docker-entrypoint.sh
  package.json
  scripts/README.md
  scripts/test-native-modules.js
  scripts/validate-better-sqlite3.js
Labels: config

bump version to v1.18.17
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

hotfix: resolve better-sqlite3 user permissions issue
  Dockerfile
Labels: config

bump version to v1.18.18
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: implement static linking for better-sqlite3 to resolve shared object issues
  Dockerfile
Labels: config

bump version to v1.18.19
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

perf: Add BuildKit cache to dramatically speed up Docker builds
  Dockerfile
Labels: config

fix: Add missing permissions to labeler workflow
  .github/workflows/labeler.yml
Labels: ci

Fix missing book ID in title/author search results
  src/hardcover-client.js
  src/sync-manager.js
Labels: code

ci: enable Docker builds for feature branches and fix labeler config
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

trigger: test Docker build for fix branch
  README.md
Labels: docs

ci: fix labeler permissions for pull requests
  .github/workflows/labeler.yml
Labels: ci

Fix missing book ID in title/author search results (#16)
  Dockerfile
  README.md
  src/hardcover-client.js
  src/sync-manager.js
Labels: docs, config, code

bump version to v1.18.20
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: remove redundant Docker build from version-and-release workflow
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
