Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'

fix(sync): skip progress lookup for simulated additions
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
Labels: code

fix(sync): preview title fallback in dry runs
  src/sync-manager.js
  tests/sync-manager-dry-run-isbn-search.test.js
Labels: code

fix(matching): expand canonical title candidates
  src/matching/strategies/title-author-matcher.js
  tests/title-author-stage-two-edition.test.js
Labels: code

fix(reporting): label successful book updates
  src/display/SyncResultFormatter.js
  tests/sync-result-auto-add-reporting.test.js
Labels: code

fix(sync): retry failed auto-add reservations
  src/sync-manager.js
  tests/auto-add-run-deduplication.test.js
Labels: code

fix(matching): guard canonical title reductions
  src/matching/utils/book-identity-evidence.js
  src/matching/utils/book-title-identity.js
  tests/title-author-strong-identity.test.js
Labels: code

fix(matching): reject conflicting volume numbers
  src/matching/scoring/book-identification-scorer.js
  src/matching/utils/book-identity-evidence.js
  src/matching/utils/book-title-identity.js
  src/matching/utils/identifier-title-validator.js
  tests/numbered-title-matching.test.js
Labels: code

fix(cache): configure transaction busy timeout
  src/book-cache.js
  tests/book-cache-transaction-timeout.test.js
Labels: code

fix: validate auto-add editions before library writes
  src/display/SyncResultFormatter.js
  src/hardcover-client.js
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
  tests/sync-manager-dry-run-isbn-search.test.js
  tests/sync-result-formatter-integration.test.js
Labels: code

chore: scope gitleaks history scan to 2026
  .husky/pre-commit
Labels: none

fix: update status on first progress sync
  src/hardcover-client.js
  tests/want-to-read-status-update.test.js
Labels: code

Fix/auto add progress capable edition (#228)
  .husky/pre-commit
  src/display/SyncResultFormatter.js
  src/hardcover-client.js
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
  tests/sync-manager-dry-run-isbn-search.test.js
  tests/sync-result-formatter-integration.test.js
  tests/want-to-read-status-update.test.js
Labels: code

fix: auto add progress-capable edition (#228)
  .github/WORKFLOWS.md
Labels: ci

fix: auto add progress-capable edition (#228) (#234)
  .github/WORKFLOWS.md
Labels: ci

chore: release v1.23.14
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix(hardcover): stop progress sync after status update failure
  src/hardcover-client.js
  tests/want-to-read-status-update.test.js
Labels: code

fix(matching): accept numeric ASIN metadata
  src/matching/utils/text-matching.js
Labels: code

fix(matching): retry numeric ASINs as ISBN-10
  src/matching/index.js
  src/matching/strategies/asin-matcher.js
  src/matching/utils/text-matching.js
  tests/numeric-asin-isbn-fallback.test.js
Labels: code

fix(sync): retry numeric ASINs as ISBN-10
  src/sync-manager.js
Labels: code

fix(matching): ignore audiobook title annotations
  src/matching/utils/book-title-identity.js
  src/matching/utils/identifier-title-validator.js
  tests/identifier-title-validation.test.js
Labels: code

fix(matching): reject conflicting identifier titles
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/matching/utils/identifier-title-validator.js
  src/sync-manager.js
  tests/identifier-title-validation.test.js
Labels: code

test(matching): use upstream edition resolution in identifier coverage
  tests/identifier-title-validation.test.js
Labels: none

test(matching): keep identifier fallback coverage independent
  tests/identifier-title-validation.test.js
Labels: none

test(matching): assert live identifier fallback add
  tests/identifier-title-validation.test.js
Labels: none

fix(matching): select listened editions for audiobooks
  src/sync-manager.js
  tests/auto-add-audiobook-edition-selection.test.js
Labels: code

fix(matching): use ABS file durations for editions
  src/matching/utils/audiobookshelf-extractor.js
  tests/audiobookshelf-duration-extraction.test.js
  tests/auto-add-audiobook-edition-selection.test.js
Labels: code

fix(matching): rank all listened editions by duration
  src/sync-manager.js
  tests/auto-add-audiobook-edition-selection.test.js
Labels: code

test(matching): use upstream edition resolution in ranking coverage
  tests/auto-add-audiobook-edition-selection.test.js
Labels: none

fix(matching): rescore identifier search editions
  src/matching/book-matcher.js
  tests/identifier-search-result-edition.test.js
Labels: code

fix(sync): preview title fallback in dry runs
  src/sync-manager.js
  tests/sync-manager-dry-run-isbn-search.test.js
Labels: code

fix(sync): skip progress lookup for simulated additions
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
Labels: code

fix(sync): align dry-run post-add flow
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
Labels: code

test(sync): use upstream edition resolution in dry-run coverage
  tests/sync-manager-dry-run-isbn-search.test.js
Labels: none

fix(sync): prevent duplicate auto-adds per run
  src/sync-manager.js
  tests/auto-add-run-deduplication.test.js
Labels: code

fix(sync): reserve direct search-result additions
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
Labels: code

fix(sync): retry failed auto-add reservations
  src/sync-manager.js
  tests/auto-add-run-deduplication.test.js
Labels: code

fix(reporting): count post-add syncs as auto-adds
  src/display/SyncResultFormatter.js
  src/sync-manager.js
  tests/sync-result-auto-add-reporting.test.js
Labels: code

fix(reporting): label successful book updates
  src/display/SyncResultFormatter.js
  tests/sync-result-auto-add-reporting.test.js
Labels: code

test(reporting): align book summary expectations
  tests/sync-result-formatter-integration.test.js
Labels: none

fix(cache): use shared cache for session recovery
  src/main.js
  tests/startup-cache-path.test.js
Labels: code
