Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

fix: clarify completion detection log messages to eliminate user confusion
  src/display/SyncResultFormatter.js
  src/progress-manager.js
  tests/completion-detection-behavior.test.js
  tests/log-output-verification.test.js
  tests/real-world-behavior.test.js
  tests/source-code-verification.test.js
Labels: code

fix: apply prettier formatting to test files
  tests/completion-detection-behavior.test.js
  tests/log-output-verification.test.js
  tests/real-world-behavior.test.js
  tests/source-code-verification.test.js
  tests/sync-output-integration.test.js
Labels: none

test: add temp formatting test to verify pre-commit hooks
  tests/temp-formatting-test.js
Labels: none

chore: enhance pre-commit hooks to format test files
  eslint.config.js
  package.json
  tests/temp-formatting-test.js
Labels: none

test: add pre-commit hook verification test
  tests/pre-commit-verification.test.js
Labels: none

fix: eliminate duplicate startup messages and unify logging format
  src/cli/commands/CronCommand.js
  src/main.js
  src/sync-manager.js
Labels: code

fix: implement robust completion detection with dual-method fallback
  src/audiobookshelf-client.js
  tests/completion-detection-robustness.test.js
Labels: code

fix: resolve Docker logging permissions timing issue
  Dockerfile
Labels: config

debug: add detailed logging permissions diagnostics
  src/logger.js
Labels: code

style: apply Prettier formatting to logger.js diagnostics
  src/logger.js
Labels: code

fix: handle existing log file permissions in Docker containers
  docker-entrypoint.sh
  src/logger.js
Labels: code

fix: resolve ESLint unused variable warnings in logger.js
  src/logger.js
Labels: code

style: apply Prettier formatting to logger.js error handling
  src/logger.js
Labels: code

fix: remove duplicate logging messages in sync flow
  src/cli/commands/CronCommand.js
  src/sync-manager.js
Labels: code

chore: fix tar-fs security vulnerability
  package-lock.json
Labels: none

fix: correct better-sqlite3 pragma API usage for busy_timeout
  src/book-cache.js
  tests/book-cache-transaction-timeout.test.js
Labels: code

fix: prevent early skip from bypassing completion detection
  src/sync-manager.js
  tests/completion-early-skip-detection.test.js
  tests/completion-early-skip-integration.test.js
Labels: code

chore: update npm dependencies
  package-lock.json
Labels: none

style: apply Prettier formatting
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
  src/utils/api-testing.js
  tests/display-logger.test.js
  tests/sync-output-integration.test.js
  tests/sync-result-formatter-integration.test.js
  wiki/admin/Book-Matching-Logic.md
Labels: docs, code

fix: automatically update Want to Read books to Currently Reading
  TESTING_WANT_TO_READ_STATUS_UPDATE.md
  src/hardcover-client.js
  tests/want-to-read-status-update.test.js
  wiki/user-guides/Feature-Overview.md
  wiki/user-guides/Understanding-Sync-Results.md
Labels: docs, code

refactor: simplify status update to only check Want to Read
  src/hardcover-client.js
  tests/want-to-read-status-update.test.js
Labels: code

fix: return full edition object in ASIN cross-edition matching
  src/matching/strategies/asin-matcher.js
  tests/asin-cross-edition-audiobook-fix.test.js
Labels: code

refactor: remove reading_format_id from Hardcover API mutations
  package-lock.json
  src/hardcover-client.js
  src/sync-manager.js
Labels: code

fix: resolve ESLint chalk dependency issues and remove undefined readingFormatId
  package-lock.json
  package.json
  src/hardcover-client.js
Labels: code

fix: ensure Want to Read status updates even when progress unchanged
  src/book-cache.js
  src/hardcover-client.js
  src/sync-manager.js
  tests/status-aware-cache.test.js
Labels: code

test: add comprehensive integration and compatibility tests
  tests/status-update-backward-compatibility.test.js
  tests/want-to-read-edition-change-integration.test.js
Labels: none

fix: resolve ESLint error - declare result variable in proper scope
  src/sync-manager.js
Labels: code

style: apply Prettier formatting to modified files
  src/book-cache.js
  tests/status-aware-cache.test.js
  tests/want-to-read-edition-change-integration.test.js
Labels: code

fix: prioritize editions with length data in ASIN/ISBN matching
  src/matching/book-matcher.js
Labels: code

feat: add cross-edition enhancement for identifier matches
  .gitignore
  src/matching/book-matcher.js
  tests/cross-edition-enhancement.test.js
Labels: code

fix: format mismatch detection and robust fallback logic
  src/matching/book-matcher.js
  tests/cross-edition-enhancement.test.js
Labels: code

refactor: create unified edition scorer with comprehensive scoring
  src/hardcover-client.js
  src/matching/book-matcher.js
  src/matching/utils/unified-edition-scorer.js
  src/sync-manager.js
  tests/unified-edition-scorer.test.js
Labels: code

fix: pass result parameter through auto-add call chain for failed books tracking
  src/sync-manager.js
Labels: code

style: apply Prettier formatting to unified edition scorer files
  src/hardcover-client.js
  src/matching/book-matcher.js
  src/matching/utils/unified-edition-scorer.js
  tests/unified-edition-scorer.test.js
Labels: code

feat: add format-aware fallback triggering for auto-add
  src/failed-books-reporter.js
  src/sync-manager.js
Labels: code

fix: set _isSearchResult flag in title/author two-stage matching
  src/matching/strategies/title-author-matcher.js
Labels: code

feat: add narrator and edition scoring details to INFO logs
  src/matching/edition-selector.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/unified-edition-scorer.js
Labels: code

feat: elevate ASIN/ISBN search logging to INFO level for diagnostics
  src/sync-manager.js
Labels: code

feat: add selective cache deletion by title or edition ID
  src/book-cache.js
  src/cli/commands/CacheCommand.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

feat: improve Audiobookshelf server error logging with troubleshooting hints
  src/audiobookshelf-client.js
Labels: code

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
