Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

feat: optimize Docker image size with multi-stage build
  Dockerfile
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

feat: prevent duplicate progress updates on new installations
  config/config.yaml.example
  src/book-cache.js
  src/config-validator.js
  src/config.js
  src/sync-manager.js
  wiki/troubleshooting/FAQ.md
Labels: docs, config, code

fix: resolve critical GLIBC compatibility issue with better-sqlite3
  Dockerfile
  docker-entrypoint.sh
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

fix: resolve GLIBC compatibility with Alpine Linux base
  Dockerfile
  docker-entrypoint.sh
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

ci: add comprehensive Docker testing to prevent broken releases
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: correct inverted test logic in Docker workflow
  .github/workflows/docker-build.yml
Labels: ci

ci: fix remaining inverted if/then/else logic in Docker workflow
  .github/workflows/docker-build.yml
Labels: ci

fix: Docker optimization with Alpine Linux GLIBC compatibility (#18)
  Dockerfile
  docker-entrypoint.sh
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

ci: optimize Docker build timeout and cache for GLIBC fix
  .github/workflows/docker-build.yml
Labels: ci

ci: fix gitleaks installation in release workflows
  .github/workflows/version-and-release.yml
  .github/workflows/version-bump-release.yml
Labels: ci

fix: use bash instead of sh in pre-commit hook for array syntax
  .husky/pre-commit
Labels: none

bump version to v1.18.21
  CHANGELOG.md
  package.json
Labels: docs

feat: auto-create folders and improve docker compose setup
  docker-compose.yml
  docker-entrypoint.sh
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

fix: ensure host directories are created for bind mounts even on early exit
  docker-entrypoint.sh
Labels: none

Feat/auto create folders and config (#19)
  docker-compose.yml
  docker-entrypoint.sh
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

ci: implement token-based automatic release workflow
  .github/workflows/version-and-release.yml
Labels: ci

bump version to v1.18.22
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: eliminate duplicate Docker builds for releases
  .github/workflows/docker-build.yml
Labels: ci

bump version to v1.18.23
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: resolve config.yaml auto-creation blocking environment variables
  docker-compose.yml
  docker-entrypoint.sh
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

fix: resolve config.yaml auto-creation blocking environment variables (#20)
  docker-compose.yml
  docker-entrypoint.sh
  wiki/user-guides/Docker-Setup.md
Labels: docs, config

bump version to v1.18.24
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: remove redundant security-scan workflow
  .github/workflows/security-scan.yml
Labels: ci

chore: add setup instructions to config example file
  README.md
  config/config.yaml.example
  wiki/admin/Configuration-Guide.md
Labels: docs, config

ci: prevent feature branches from getting latest Docker tag
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: add missing _needsBookIdLookup flag for cached title/author matches
  src/sync-manager.js
Labels: code

fix: add missing _needsBookIdLookup flag for cached title/author matches (#22)
  src/sync-manager.js
Labels: code

bump version to v1.18.25
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: remove early filtering that skipped completed books with high progress
  src/audiobookshelf-client.js
Labels: code

Fix/completed book filtering (#23)
  src/audiobookshelf-client.js
Labels: code

bump version to v1.18.26
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: synchronize release creation with Docker build completion
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

chore: add Renovate configuration to replace Dependabot
  renovate.json
Labels: none

chore: remove Dependabot configuration, replaced with Renovate
  .github/dependabot.yml
  .github/workflows/release-on-merge.yml
  fresh-install-test/config/config.yaml
  fresh-install-test/config/config.yaml.example
  fresh-install-test/docker-compose.yml
  wait-and-test.sh
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

chore: remove fresh-install-test directory
  fresh-install-test/config/config.yaml
  fresh-install-test/config/config.yaml.example
  fresh-install-test/docker-compose.yml
  renovate.json
Labels: none

chore: correct Renovate configuration errors
  renovate.json
Labels: none

chore: improve Renovate configuration
  renovate.json
Labels: none

chore: implement conservative dependency update strategy
  renovate.json
Labels: none

chore: make conservative dependency strategy comprehensive
  renovate.json
Labels: none

chore: fix Renovate deprecation warnings
  renovate.json
Labels: none

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
