Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'

fix: count completed ABS media progress
  src/audiobookshelf-client.js
  src/sync-manager.js
  src/utils/concurrency.js
  tests/audiobookshelf-media-progress.test.js
Labels: code

fix: retry refused network connections
  package.json
  src/utils/retry-manager.js
  tests/retry-manager.test.js
Labels: code

fix: honor bookData in completion checks
  package-lock.json
  package.json
  src/progress-manager.js
  tests/progress-manager.test.js
  wiki/admin/Configuration-Reference.md
Labels: docs, code

fix: import js-yaml namespace
  src/config.js
Labels: code

chore: release v1.23.3
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: protect first sync from progress regression
  src/sync-manager.js
  tests/sync-manager-first-sync-regression.test.js
Labels: code

fix: make dry run use real identifier searches
  src/sync-manager.js
  tests/sync-manager-dry-run-isbn-search.test.js
Labels: code

fix: skip unchanged scheduled sync misses
  src/book-cache.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
  tests/negative-skip-cache.test.js
Labels: code

fix: invalidate stale sync cache entries
  src/book-cache.js
  src/sync-manager.js
  tests/negative-skip-cache.test.js
Labels: code

fix: reuse validated cli config
  src/cli/BaseCommand.js
  tests/base-command-config-cache.test.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

chore: remove stale root artifacts
  .gitignore
  DUPLICATE_MATCHING_FIX.md
  SECURITY_NOTE.md
  TESTING_WANT_TO_READ_STATUS_UPDATE.md
  run-all-tests.sh
  test-release-targeting.txt
  test-signing.md
  test/test-cache-write.js
  wait-and-test.sh
Labels: docs, tests

chore: release v1.23.4
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: match equivalent ISBN variants
  package.json
  src/failed-books-reporter.js
  src/hardcover-client.js
  src/matching/book-matcher.js
  src/matching/index.js
  src/matching/strategies/isbn-matcher.js
  src/matching/utils/identifier-lookup.js
  src/matching/utils/text-matching.js
  src/sync-manager.js
  tests/isbn-variant-matching.test.js
Labels: code

fix: guard search-result auto-adds
  package.json
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
Labels: code

ci: modernize runtime and workflows
  .github/WORKFLOWS.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/release.yml
  .gitleaks.toml
  .node-version
  DEVELOPMENT.md
  Dockerfile
  README.md
  package-lock.json
  package.json
  scripts/run-test-suite.js
Labels: docs, config, ci

ci: configure guarded Renovate automerge
  .github/dependabot.yml
  renovate.json
Labels: ci

fix: use current version in sync logs
  src/sync-manager.js
  tests/version-consistency.test.js
Labels: code

fix: ignore generic subtitles when matching books
  src/matching/utils/text-matching.js
  tests/generic-subtitle-matching.test.js
Labels: code

fix: ignore generic subtitles when matching books (#187)
  src/matching/utils/text-matching.js
  tests/generic-subtitle-matching.test.js
Labels: code

chore: release v1.23.5
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.5 (#184)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: retry transient release image verification
  .github/workflows/release.yml
Labels: ci

fix: verify platform-specific image digests
  .github/workflows/release.yml
Labels: ci

fix: verify platform-specific Docker image digests (#188)
  .github/workflows/release.yml
Labels: ci

chore: release v1.23.6
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.6 (#189)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: sync Audiobookshelf ebook progress (#162)
  src/audiobookshelf-client.js
  src/matching/utils/audiobookshelf-extractor.js
  tests/audiobookshelf-media-progress.test.js
Labels: code

fix: validate Docker placeholders from YAML values
  docker-entrypoint.sh
  scripts/check-config-placeholders.js
  src/config-placeholders.js
  src/config-validator.js
  tests/config-placeholders.test.js
Labels: code

fix: validate Docker placeholders from YAML values (#192)
  docker-entrypoint.sh
  scripts/check-config-placeholders.js
  src/config-placeholders.js
  src/config-validator.js
  tests/config-placeholders.test.js
Labels: code

fix: clarify Hardcover authentication errors
  src/hardcover-client.js
  tests/hardcover-authentication-error.test.js
Labels: code

fix: clarify Hardcover authentication errors (#194)
  src/hardcover-client.js
  tests/hardcover-authentication-error.test.js
Labels: code

chore: release v1.23.7
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.7 (#193)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: resolve abort listener accumulation
  package-lock.json
  package.json
  src/audiobookshelf-client.js
  src/sync-manager.js
  tests/audiobookshelf-media-progress.test.js
  tests/task-queue-basic.test.js
  wiki/admin/Configuration-Reference.md
  wiki/technical/Pagination-System.md
Labels: docs, code

fix: resolve abort listener accumulation (#200)
  package-lock.json
  package.json
  src/audiobookshelf-client.js
  src/sync-manager.js
  tests/audiobookshelf-media-progress.test.js
  tests/task-queue-basic.test.js
  wiki/admin/Configuration-Reference.md
  wiki/technical/Pagination-System.md
Labels: docs, code

fix: sync Audiobookshelf ebook progress (#190)
  src/audiobookshelf-client.js
  src/matching/utils/audiobookshelf-extractor.js
  tests/audiobookshelf-media-progress.test.js
Labels: code

chore: release v1.23.8
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.8 (#201)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: enforce minimum progress threshold
  src/sync-manager.js
  tests/sync-manager-progress-threshold.test.js
Labels: code

fix(deps): update axios to 1.18.1
  package-lock.json
Labels: none
