Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

ci: add missing security-scan job for required status check
  .github/workflows/code-quality.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: improve completion detection and use activity timestamps
  config/config.yaml.example
  src/audiobookshelf-client.js
  src/book-cache.js
  src/hardcover-client.js
  src/main.js
  src/sync-manager.js
  wiki/admin/Configuration-Reference.md
  wiki/technical/CLI-Reference.md
  wiki/technical/Data-Models.md
  wiki/user-guides/Feature-Overview.md
Labels: docs, config, code

fix: ensure completion detection runs on every sync
  src/audiobookshelf-client.js
  src/sync-manager.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

chore: remove obsolete deep scan architecture
  config/config.yaml.example
  docker-compose.yml
  src/audiobookshelf-client.js
  src/book-cache.js
  src/config-validator.js
  src/config.js
  src/main.js
  src/sync-manager.js
  wiki/admin/Cache-Management.md
  wiki/admin/Configuration-Reference.md
  wiki/technical/Architecture-Overview.md
  wiki/technical/Data-Models.md
  wiki/user-guides/Feature-Overview.md
Labels: docs, config, code

fix: add missing edition metadata to getBookFromEdition GraphQL query
  src/hardcover-client.js
  src/sync-manager.js
Labels: code

fix: preserve existing start dates and fix edition format detection
  src/hardcover-client.js
  src/sync-manager.js
Labels: code

fix: implement consistent format detection across all book matching methods
  src/sync-manager.js
Labels: code

fix: improve dry-run sync summary display for clarity
  src/main.js
Labels: code

feat: implement reading_format_id support in GraphQL mutations
  src/hardcover-client.js
  src/sync-manager.js
Labels: code

fix: resolve cache logic bug and dry-run display inconsistency
  src/main.js
  src/sync-manager.js
Labels: code

feat: implement centralized ProgressManager for standardized progress handling
  src/progress-manager.js
  src/sync-manager.js
  src/utils.js
Labels: code

fix: centralize progress logic and prevent duplicate completion processing
  src/audiobookshelf-client.js
  src/progress-manager.js
  src/sync-manager.js
Labels: code

refactor: centralize progress change detection and regression analysis
  src/book-cache.js
  src/hardcover-client.js
Labels: code

Allow specifying a custom user
  docker-entrypoint.sh
Labels: none

note puid and guid in docker compose
  docker-compose.yml
Labels: config

fix: correct shell syntax for Docker user specification
  docker-entrypoint.sh
Labels: none

Apply suggestion from @rohit-purandare
  docker-entrypoint.sh
Labels: none

Allow specifying a custom user (#41)
  docker-compose.yml
  docker-entrypoint.sh
Labels: config

bump version to v1.18.27
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: prevent duplicate Docker builds from version bump commits
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: remove conflicting release-on-merge workflow
  .github/workflows/release-on-merge.yml
Labels: ci

ci: adopt industry-standard automated release workflow
  .github/workflows/version-bump-release.yml
Labels: ci

ci: correct broken CI main entry point test
  .github/workflows/ci.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: fix critical security vulnerability in labeler workflow
  .github/workflows/labeler.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: remove redundant ESLint runtime installation
  .github/workflows/code-quality.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: replace insecure gitleaks download with official action
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

chore: update Node.js requirements to align with dependencies
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/version-and-release.yml
  package-lock.json
  package.json
  run-all-tests.sh
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: improve start date handling and reduce log noise
  src/hardcover-client.js
  src/progress-manager.js
Labels: code

fix: ensure consistent format detection between ProgressManager and sync operations
  src/progress-manager.js
  src/sync-manager.js
Labels: code

bump version to v1.18.28
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

refactor: extract book matching into modular architecture
  src/matching/book-matcher.js
  src/matching/index.js
  src/matching/scoring/match-scorer.js
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/audiobookshelf-extractor.js
  src/matching/utils/hardcover-extractor.js
  src/matching/utils/identifier-extractor.js
  src/matching/utils/normalization.js
  src/matching/utils/similarity.js
  src/progress-manager.js
  src/sync-manager.js
  src/utils.js
Labels: code

fix: resolve author extraction object handling in matching module
  src/matching/book-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/audiobookshelf-extractor.js
Labels: code

refactor: complete function separation and eliminate duplicate matching logic
  src/matching/book-matcher.js
  src/matching/index.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/identifier-extractor.js
  src/matching/utils/identifier-lookup.js
  src/sync-manager.js
Labels: code

refactor: extract utilities into focused modules and fix force sync issues
  src/audiobookshelf-client.js
  src/config-validator.js
  src/hardcover-client.js
  src/main.js
  src/matching/utils/hardcover-extractor.js
  src/sync-manager.js
  src/utils.js
  src/utils/api-testing.js
  src/utils/concurrency.js
  src/utils/data.js
  src/utils/debug.js
  src/utils/index.js
  src/utils/network.js
  src/utils/time.js
  wiki/technical/Architecture-Overview.md
Labels: docs, code

fix(sync): always send started_at to Hardcover; correct timezone date formatting
  src/hardcover-client.js
  src/sync-manager.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

fix(logging): fallback to console-only when logs/ is not writable; avoid EACCES on exception/rejection handlers
  src/logger.js
Labels: code

fix(logging): fully guard all rotating log targets; disable file transports if dir or existing log files are not writable
  src/logger.js
Labels: code

refactor: standardize logging key to user_id for consistent structured logging
  src/logger.js
  src/main.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
Labels: code

feat: implement ACID-style transactions for sync operations
  package-lock.json
  package.json
  src/main.js
  src/sync-manager.js
  src/utils/debug.js
  src/utils/task-queue.js
  src/utils/transaction.js
Labels: code

chore: add automated testing and improve network resilience
  .github/workflows/ci.yml
  .gitignore
  DEVELOPMENT.md
  package.json
  src/hardcover-client.js
  tests/progress-manager.test.js
Labels: docs, code, ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
