Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

refactor: replace console.log with DisplayLogger in SyncResultFormatter
  src/display/SyncResultFormatter.js
Labels: code

test: add comprehensive DisplayLogger unit tests
  tests/display-logger.test.js
Labels: none

test: add SyncResultFormatter integration tests with DisplayLogger
  tests/sync-result-formatter-integration.test.js
Labels: none

chore: update GitHub workflow token and clean up test files
  .github/workflows/release.yml
  tests/additional-edge-cases.test.js
  tests/null-userbook-integration.test.js
  tests/null-userbook-unit.test.js
Labels: ci

style: fix code formatting with Prettier
  tests/additional-edge-cases.test.js
  tests/display-logger.test.js
  tests/null-userbook-integration.test.js
  tests/null-userbook-unit.test.js
  tests/sync-result-formatter-integration.test.js
Labels: none

fix: handle books with missing ISBN/ASIN identifiers during completion
  src/book-cache.js
  src/sync-manager.js
  tests/book-completion-identifier-fix.test.js
Labels: code

test: add comprehensive integration tests for book completion flow
  tests/book-completion-integration.test.js
Labels: none

style: fix code formatting and add .claude to gitignore
  .gitignore
  tests/book-completion-identifier-fix.test.js
  tests/book-completion-integration.test.js
Labels: none

feat: add GitHub Actions troubleshooting and recovery tools
  .github/TROUBLESHOOTING_WORKFLOWS.md
  .github/scripts/refresh-status-checks.sh
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: fix Docker release tagging to generate semantic version tags
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: fix critical Docker tagging issues after thorough analysis
  .github/workflows/docker-build.yml
Labels: ci

fix: use correct semver tag configuration with value parameter
  .github/workflows/release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: correct Docker semver tagging with release-please integration
  .github/workflows/release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: optimize sync performance to resolve 2.5hr sync times (issue #125)
  src/sync-manager.js
Labels: code

fix: apply library filtering to items in progress
  src/audiobookshelf-client.js
  tests/library-filtering.test.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

fix: simplify library filtering tests to avoid timeouts
  package.json
  tests/library-filtering.test.js
Labels: none

fix: apply prettier formatting to library filtering test
  tests/library-filtering.test.js
Labels: none

fix: remove specific user reference from test
  tests/library-filtering.test.js
Labels: none

fix: apply library filtering to items in progress
  src/audiobookshelf-client.js
Labels: code

gitignore: add CLAUDE.md to prevent accidental commits
  .gitignore
Labels: none

security: update vulnerable packages to latest versions
  package-lock.json
  package.json
Labels: none

security: add comprehensive package overrides for latest versions
  package-lock.json
  package.json
Labels: none

docs: add security status documentation
  SECURITY_NOTE.md
Labels: docs

fix: apply prettier formatting to resolve CI code quality checks
  SECURITY_NOTE.md
  package.json
Labels: docs

chore: trigger CI workflows for release PR
  SECURITY_NOTE.md
Labels: docs

fix: apply prettier formatting to SECURITY_NOTE.md
  SECURITY_NOTE.md
Labels: docs

chore: Phase 1 SyncManager refactoring - extract utility classes
  PHASE1-REFACTORING-REPORT.md
  package.json
  src/sync-manager.js
  src/sync/utils/CacheKeyGenerator.js
  src/sync/utils/TimestampFormatter.js
  tests/cache-key-generator.test.js
  tests/phase1-integration.test.js
  tests/phase1-refactoring-setup.test.js
  tests/timestamp-formatter.test.js
Labels: docs, code

fix: resolve ESLint errors in Phase 1 refactoring
  src/sync-manager.js
  src/sync/utils/CacheKeyGenerator.js
  src/sync/utils/TimestampFormatter.js
Labels: code

docs: move Phase 1 refactoring report to wiki developer section
  wiki/developer/Phase1-Refactoring-Report.md
Labels: docs

fix: resolve ESLint and Prettier formatting issues
  src/sync-manager.js
  src/sync/utils/CacheKeyGenerator.js
  src/sync/utils/TimestampFormatter.js
  tests/cache-key-generator.test.js
  tests/phase1-integration.test.js
  tests/phase1-refactoring-setup.test.js
  tests/timestamp-formatter.test.js
  wiki/developer/Phase1-Refactoring-Report.md
Labels: docs, code

fix: revert CI test script to original minimal set
  package.json
Labels: none

fix: resolve Phase 1 test performance issues
  package.json
  tests/timestamp-formatter.test.js
Labels: none

fix: apply prettier formatting to timestamp-formatter.test.js
  tests/timestamp-formatter.test.js
Labels: none

feat: extend early progress check optimization to title/author books
  OPTIMIZATION-EARLY-PROGRESS-CHECK.md
  src/sync-manager.js
  tests/early-progress-check-optimization.test.js
  tests/sync-manager-two-stage.test.js
Labels: docs, code

fix: apply prettier formatting to test files
  tests/early-progress-check-optimization.test.js
  tests/sync-manager-two-stage.test.js
Labels: none

fix: clarify scheduler activation message
  src/cli/commands/CronCommand.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

fix: prevent double-processing race conditions in sync manager
  src/sync-manager.js
Labels: code

test: add comprehensive tests for double-processing prevention fixes
  tests/double-processing-fixes-verification.test.js
  tests/double-processing-prevention.test.js
  tests/identifier-pre-extraction.test.js
  tests/isolated-double-processing-test.js
Labels: none

fix: apply prettier formatting to double-processing test files
  tests/double-processing-fixes-verification.test.js
  tests/double-processing-prevention.test.js
  tests/identifier-pre-extraction.test.js
  tests/isolated-double-processing-test.js
Labels: none

fix: optimize title/author cache usage to prevent expensive re-searches
  src/sync-manager.js
Labels: code

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
