Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'

fix: enforce minimum progress threshold (#203)
  package-lock.json
  src/sync-manager.js
  tests/sync-manager-progress-threshold.test.js
Labels: code

chore: release v1.23.9
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.9 (#204)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: prioritize recent progress when fetches are capped
  src/audiobookshelf-client.js
  tests/audiobookshelf-media-progress.test.js
  wiki/admin/Configuration-Reference.md
Labels: docs, code

fix(deps): resolve npm audit vulnerabilities
  package-lock.json
  package.json
  src/config.js
Labels: code

fix: consistently prioritize recent progress
  src/audiobookshelf-client.js
  tests/audiobookshelf-media-progress.test.js
  wiki/admin/Configuration-Reference.md
Labels: docs, code

fix: prioritize recently updated progress records (#205)
  package-lock.json
  package.json
  src/audiobookshelf-client.js
  src/config.js
  tests/audiobookshelf-media-progress.test.js
  wiki/admin/Configuration-Reference.md
Labels: docs, code

chore: release v1.23.10
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.10 (#206)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: resolve dependency audit vulnerabilities
  eslint.config.js
  package-lock.json
  package.json
  wiki/technical/GitHub-Workflows.md
Labels: docs

fix: resolve dependency audit vulnerabilities (#212)
  eslint.config.js
  package-lock.json
  package.json
  wiki/technical/GitHub-Workflows.md
Labels: docs

fix: repair Hardcover null progress updates
  src/hardcover-client.js
  src/sync-manager.js
  tests/hardcover-null-progress-repair.test.js
Labels: code

fix: update vulnerable dependencies
  package-lock.json
  package.json
Labels: none

chore: release v1.23.11
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: repair Hardcover null progress updates (#217)
  package-lock.json
  package.json
  src/hardcover-client.js
  src/sync-manager.js
  tests/hardcover-null-progress-repair.test.js
Labels: code

chore: release v1.23.11
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.11 (#213)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: complete Hardcover progress cache repair
  src/book-cache.js
  src/sync-manager.js
  tests/hardcover-null-progress-repair.test.js
Labels: code

fix: complete Hardcover progress cache repair (#223)
  src/book-cache.js
  src/sync-manager.js
  tests/hardcover-null-progress-repair.test.js
Labels: code

chore: release v1.23.12
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: release v1.23.12 (#224)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: prevent native cache cleanup crash [skip release-please]
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  Dockerfile
  package-lock.json
  package.json
  scripts/README.md
  scripts/test-book-cache-lifecycle.js
  wiki/technical/GitHub-Workflows.md
  wiki/user-guides/Docker-Setup.md
Labels: docs, config, ci

fix: prevent native cache cleanup crash [skip release-please]
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  Dockerfile
  package-lock.json
  package.json
  scripts/README.md
  scripts/test-book-cache-lifecycle.js
  wiki/technical/GitHub-Workflows.md
  wiki/user-guides/Docker-Setup.md
Labels: docs, config, ci

fix(matching): handle numeric ASINs and numbered titles
  src/matching/scoring/book-identification-scorer.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/text-matching.js
  tests/numbered-title-matching.test.js
Labels: code

fix(matching): rescore identifier search editions
  src/matching/book-matcher.js
  tests/identifier-search-result-edition.test.js
Labels: code

fix(matching): ignore audiobook title annotations
  src/matching/utils/book-title-identity.js
  src/matching/utils/identifier-title-validator.js
  tests/identifier-title-validation.test.js
Labels: code

fix(matching): retry numeric ASINs as ISBN-10
  src/matching/index.js
  src/matching/strategies/asin-matcher.js
  src/matching/utils/text-matching.js
  src/sync-manager.js
  tests/numeric-asin-isbn-fallback.test.js
Labels: code

fix(matching): use ABS file durations for editions
  src/matching/utils/audiobookshelf-extractor.js
  tests/audiobookshelf-duration-extraction.test.js
  tests/auto-add-audiobook-edition-selection.test.js
Labels: code

fix(cache): use shared cache for session recovery
  src/main.js
  tests/startup-cache-path.test.js
Labels: code

fix(sync): prevent duplicate auto-adds per run
  src/sync-manager.js
  tests/auto-add-run-deduplication.test.js
Labels: code

fix(matching): rank all listened editions by duration
  src/sync-manager.js
  tests/auto-add-audiobook-edition-selection.test.js
Labels: code

fix(matching): score title matches with ABS edition data
  src/hardcover-client.js
  src/matching/strategies/title-author-matcher.js
  tests/title-author-stage-two-edition.test.js
  tests/title-author-strong-identity.test.js
Labels: code

fix(reporting): classify rejected book matches
  src/matching/book-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
  tests/failed-match-classification.test.js
Labels: code

fix(matching): rank canonical works by search activity
  src/matching/utils/hardcover-extractor.js
  tests/book-identification-scorer.test.js
Labels: code

fix(sync): align dry-run post-add flow
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
Labels: code

fix(sync): reserve direct search-result additions
  src/sync-manager.js
  tests/search-result-auto-add-guards.test.js
Labels: code

fix(matching): accept exact work title evidence
  src/matching/scoring/book-identification-scorer.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/book-identity-evidence.js
  src/matching/utils/book-title-identity.js
  tests/title-author-strong-identity.test.js
Labels: code

fix(reporting): count post-add syncs as auto-adds
  src/display/SyncResultFormatter.js
  src/sync-manager.js
  tests/sync-result-auto-add-reporting.test.js
Labels: code

fix(matching): reject conflicting identifier titles
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/matching/utils/identifier-title-validator.js
  src/sync-manager.js
  tests/identifier-title-validation.test.js
Labels: code

fix(matching): select listened editions for audiobooks
  src/sync-manager.js
  tests/auto-add-audiobook-edition-selection.test.js
Labels: code
