Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'

chore(main): release 1.20.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: add title/author fallback to auto-add when ISBN/ASIN lookup fails
  src/sync-manager.js
Labels: code

refactor: use existing TitleAuthorMatcher instead of duplicating logic
  src/sync-manager.js
Labels: code

chore(main): release 1.20.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: clean up changelog structure and ordering
  CHANGELOG.md
Labels: docs

ci: fix Docker Build workflow to always report status for branch protection
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: refactor title/author matching to apply DRY principle and improve reliability
  src/hardcover-client.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
  wiki/admin/Book-Matching-Logic.md
Labels: docs, code

fix: improve book matching reliability with two-stage approach
  scripts/debug-scoring.js
  scripts/run-two-stage-tests.js
  scripts/test-two-stage-simple.js
  src/matching/edition-selector.js
  src/matching/index.js
  src/matching/scoring/book-identification-scorer.js
  src/matching/scoring/match-scorer.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/audiobookshelf-extractor.js
  src/matching/utils/hardcover-extractor.js
  tests/README-two-stage-tests.md
  tests/book-identification-scorer.test.js
  tests/cache-two-stage.test.js
  tests/edge-cases-error-handling.test.js
  tests/edition-selector.test.js
  tests/format-detection.test.js
  tests/performance-regression.test.js
  tests/sync-manager-two-stage.test.js
  tests/two-stage-integration.test.js
  wiki/admin/Book-Matching-Logic.md
Labels: docs, code

fix: resolve null userBook reference in title-author two-stage matching
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
Labels: code

fix: enhance title/author matching logging and fix progress regression warnings
  src/hardcover-client.js
  src/matching/strategies/title-author-matcher.js
  src/progress-manager.js
  src/sync-manager.js
  tests/progress-manager.test.js
Labels: code

fix: implement narrator matching system and advanced text normalization
  src/hardcover-client.js
  src/matching/edition-selector.js
  src/matching/scoring/book-identification-scorer.js
  src/matching/utils/hardcover-extractor.js
  src/matching/utils/normalization.js
Labels: code

chore: simplify Unraid template with proper directory mappings
  ShelfBridge-unraid-template.xml
Labels: none

chore: further cleanup Unraid template
  ShelfBridge-unraid-template.xml
Labels: none

chore: align Unraid template with base XML structure
  ShelfBridge-unraid-template.xml
Labels: none

fix: resolve author extraction bug and consolidate text matching utilities
  src/matching/book-matcher.js
  src/matching/edition-selector.js
  src/matching/index.js
  src/matching/scoring/book-identification-scorer.js
  src/matching/utils/audiobookshelf-extractor.js
  src/matching/utils/hardcover-extractor.js
  src/matching/utils/identifier-extractor.js
  src/matching/utils/identifier-lookup.js
  src/matching/utils/normalization.js
  src/matching/utils/similarity.js
  src/matching/utils/text-matching.js
Labels: code

fix: resolve scoring undefined name property error and improve extraction robustness
  run-all-tests.sh
  src/matching/scoring/book-identification-scorer.js
  src/matching/utils/hardcover-extractor.js
Labels: code

chore(main): release 1.20.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: improve ASIN/ISBN matcher auto-add consistency and logging
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/sync-manager.js
Labels: code

chore(main): release 1.20.3
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: prevent null userBook crashes in sync and matching
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/sync-manager.js
Labels: code

test: add comprehensive null userBook test coverage
  tests/additional-edge-cases.test.js
  tests/null-userbook-integration.test.js
  tests/null-userbook-unit.test.js
Labels: none

ci: improve docker workflow efficiency and reliability
  .github/workflows/docker-build.yml
Labels: ci

chore(main): release 1.20.4
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix: set _needsBookIdLookup flag for ASIN/ISBN search results
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
Labels: code

ci: resolve Docker attestation failure for docs-only releases
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

chore(main): release 1.20.5
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: fix Docker version tagging for automated releases
  .github/workflows/version-and-release.yml
  release-please-config.json
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

feat: enhance Docker workflows for comprehensive branch and release tagging
  .github/workflows/docker-build.yml
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: resolve critical Docker workflow issues
  .github/workflows/docker-build.yml
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: improve logging clarity in title-author matcher rejection logic
  src/matching/strategies/title-author-matcher.js
Labels: code

fix: resolve Hardcover search API mismatch for audiobook titles with format suffixes
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/text-matching.js
Labels: code

ci: correct Docker test workflow image tag detection for PR builds
  .github/workflows/docker-test.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: fix release-please workflow bad credentials error
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: fix Docker test workflow for PR builds
  .github/workflows/reusable-docker-validation.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: redesign GitHub workflows with industry standards
  .github/WORKFLOWS.md
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-test.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-validation.yml
  .github/workflows/reusable-node-setup.yml
  .github/workflows/version-and-release.yml
  release-please-config.json
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: add PR-based Docker test image publishing to CI workflow
  .github/workflows/ci.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

refactor: optimize workflow triggers for efficiency
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: resolve Docker Hub authentication error in CI workflow
  .github/workflows/ci.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: resolve Git exit code 128 error by removing orphaned submodule directory
  wiki/technical/GitHub-Workflows.md
Labels: docs

feat: add DisplayLogger utility for centralized console output
  src/utils/display-logger.js
Labels: code
