Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

chore: add comprehensive unit test suite with proper cleanup
  src/utils/concurrency.js
  tests/progress-manager.test.js
  tests/utilities.test.js
Labels: code

chore: add comprehensive test coverage for utilities and core modules
  tests/network-utilities.test.js
  tests/task-queue-basic.test.js
  tests/transaction.test.js
  tests/utilities.test.js
Labels: none

fix: update npm test script to explicitly list test files
  package.json
Labels: none

bump version to v1.19.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: allow skipped conclusions in release workflow
  .github/workflows/version-and-release.yml
Labels: ci

chore: enhance error reporting with comprehensive GitHub issue links
  docker-entrypoint.sh
  src/logger.js
  src/main.js
  src/utils/github-helper.js
Labels: code

fix: resolve MaxListenersExceededWarning for AbortSignal in parallel operations
  src/main.js
  src/sync-manager.js
Labels: code

fix: resolve MaxListenersExceededWarning for AbortSignal in parallel operations
  src/main.js
  src/sync-manager.js
Labels: code

fix: add retry logic for HTTP 5xx server errors in Hardcover client
  src/hardcover-client.js
Labels: code

bump version to v1.19.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: implement Release Please for industry standard automated releases
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: disable original Docker workflow to prevent duplicate builds
  .github/workflows/docker-build-original.yml
Labels: ci

ci: split Docker workflow into modular build/test/publish stages
  .github/workflows/docker-build-original.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: add ci/* branch pattern to Docker Test and Publish workflows
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

ci: fix Docker artifact chain using GitHub API for both Test and Publish
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

ci: add GH_TOKEN authentication for GitHub API calls
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

ci: migrate to googleapis/release-please-action@v4
  .github/release-please/.release-please-manifest.json
  .github/release-please/release-please-config.json
  .github/workflows/version-and-release.yml
Labels: ci

ci: simplify Docker artifact chain logic
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

ci: fix Docker Publish to find correct Build run ID
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

ci: fix Docker Publish to find correct Build run ID
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

fix: ensure completion status is properly handled during forced syncs
  src/sync-manager.js
Labels: code

fix: enable title/author matching when identifiers are missing and improve logging
  src/matching/book-matcher.js
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/sync-manager.js
  wiki/admin/Book-Matching-Logic.md
Labels: docs, code

fix: prevent undefined property access errors in title/author matching
  src/matching/book-matcher.js
  src/matching/scoring/match-scorer.js
  src/matching/strategies/title-author-matcher.js
Labels: code

fix: prevent auto-add when progress below min_progress_threshold
  src/sync-manager.js
Labels: code

fix: implement multi-key cache lookup for identifier transitions
  src/sync-manager.js
Labels: code

fix: reduce log verbosity for book matching success messages
  src/matching/book-matcher.js
Labels: code

chore(main): release 1.19.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: increase timing tolerance for sleep test on Node.js 22.x
  .github/workflows/docker-publish.yml
  tests/utilities.test.js
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: increase timing tolerance for sleep test on Node.js 22.x (#60)
  .github/workflows/docker-publish.yml
  tests/utilities.test.js
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: standardize GitHub workflows structure and formatting
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: fix duplicate build ID causing workflow syntax error
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

chore: add exponential backoff for all 4xx HTTP errors
  src/hardcover-client.js
  wiki/technical/GitHub-Workflows.md
  wiki/technical/Rate-Limiting.md
Labels: docs, code

chore: create unified RetryManager for consistent API retry behavior
  src/audiobookshelf-client.js
  src/hardcover-client.js
  src/utils/index.js
  src/utils/retry-manager.js
  wiki/technical/Rate-Limiting.md
Labels: docs, code

fix: add memoization to eliminate duplicate ISBN lookup table creation
  src/matching/book-matcher.js
Labels: code

fix: eliminate duplicate ISBN/ASIN lookups with combined memoization
  src/matching/book-matcher.js
  src/sync-manager.js
Labels: code

chore(main): release 1.19.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: eliminate duplicate Docker builds during releases
  .github/workflows/docker-build.yml
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: add main branch trigger back to docker-build with release deduplication
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

fix: add secrets inherit to reusable workflow call
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

test: verify Docker build conditional logic
  test-docker-build.md
Labels: docs

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
