Repository rohit-purandare/ShelfBridge, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, config, code, tests, ci

chore: remove test file
  test-docker-build.md
Labels: docs

fix: ensure book completion operations are atomic
  src/hardcover-client.js
Labels: code

chore(main): release 1.19.4
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: fix Docker release tagging and update release-please configuration
  .github/workflows/docker-build.yml
  .github/workflows/version-and-release.yml
  .release-please-manifest.json
  release-please-config.json
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

ci: add debugging info to Docker Test workflow to diagnose SHA mismatch
  .github/workflows/docker-test.yml
Labels: ci

chore(main): release shelfbridge 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: hide dependency updates from release changelog
  release-please-config.json
Labels: none

chore(main): release shelfbridge 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: refactor workflows to reusable components and optimize Docker testing
  .github/actions/validate-app/action.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
  .github/workflows/labeler.yml
  .github/workflows/reusable-docker-validation.yml
  .github/workflows/reusable-node-setup.yml
  .github/workflows/version-and-release.yml
Labels: ci

ci: replace SHA-pinned actions with semantic versions
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-test.yml
  .github/workflows/labeler.yml
  .github/workflows/reusable-docker-validation.yml
  .github/workflows/reusable-node-setup.yml
  .github/workflows/version-and-release.yml
  scripts/clean-docker-manifests.sh
  scripts/test-book-completion-fix.js
  tests/book-completion-atomic.test.js
Labels: ci

chore(main): release shelfbridge 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: configure release-please to not bump versions for CI/docs/chore commits
  release-please-config.json
Labels: none

ci: include release config files in docker build paths
  .github/workflows/docker-build.yml
Labels: ci

chore(main): release shelfbridge 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: fix release-please tag component detection for single-package repo
  release-please-config.json
Labels: none

ci: expand Docker workflow branch patterns
  .github/workflows/docker-build.yml
  .github/workflows/docker-test.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

refactor: extract sync output formatting to dedicated module
  src/display/SyncResultFormatter.js
  src/display/index.js
  src/main.js
Labels: code

refactor: extract CLI commands infrastructure
  src/cli/BaseCommand.js
  src/cli/CommandRegistry.js
  src/cli/commands/InteractiveCommand.js
  src/cli/commands/SyncCommand.js
  src/cli/index.js
Labels: code

refactor: extract all remaining CLI commands
  src/cli/CommandRegistry.js
  src/cli/commands/CacheCommand.js
  src/cli/commands/ConfigCommand.js
  src/cli/commands/CronCommand.js
  src/cli/commands/DebugCommand.js
  src/cli/commands/SchemaCommands.js
  src/cli/commands/TestCommand.js
  src/cli/commands/ValidateCommand.js
  src/cli/index.js
Labels: code

refactor: complete CLI integration - massive main.js reduction
  src/main.js
Labels: code

fix: correct GitHub wiki links to point to repository wiki folder
  src/utils/github-helper.js
Labels: code

chore: add changelog link to interactive welcome message
  src/utils/github-helper.js
Labels: code

fix: resolve title/author matching by fixing author extraction and implementing book-level matching
  src/display/SyncResultFormatter.js
  src/matching/book-matcher.js
  src/matching/scoring/match-scorer.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/audiobookshelf-extractor.js
  src/matching/utils/hardcover-extractor.js
  src/progress-manager.js
Labels: code

fix: enhance book matching with comprehensive cross-edition support
  src/matching/book-matcher.js
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
Labels: code

chore: fix eslint violations and clean up unused code
  src/cli/BaseCommand.js
  src/cli/commands/ConfigCommand.js
  src/cli/commands/CronCommand.js
  src/cli/commands/InteractiveCommand.js
  src/cli/commands/SchemaCommands.js
  src/cli/commands/SyncCommand.js
  src/main.js
Labels: code

fix: prevent Docker container from exiting after initial sync
  src/cli/commands/CronCommand.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

chore(main): release 1.19.5
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

ci: fix Docker builds not triggering after release-please PRs
  .github/workflows/docker-build.yml
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

feat: add configuration foundation for delayed updates feature
  config/config.yaml.example
  src/config-validator.js
  src/config.js
  wiki/admin/Configuration-Reference.md
Labels: docs, config, code

feat: add database migration and session methods for delayed updates
  src/book-cache.js
Labels: code

feat: implement SessionManager class for delayed updates
  src/session-manager.js
Labels: code

feat: integrate SessionManager with SyncManager for delayed updates
  src/sync-manager.js
Labels: code

feat: add comprehensive test suite for delayed updates functionality
  tests/book-cache-sessions.test.js
  tests/delayed-updates-basic.test.js
  tests/delayed-updates-config.test.js
  tests/delayed-updates-integration.test.js
  tests/session-manager.test.js
Labels: none

feat: add startup session recovery for delayed updates
  src/main.js
  tests/startup-session-recovery.test.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

fix: improve environment variable parsing for delayed updates
  docker-compose.yml
  src/config.js
  tests/delayed-updates-env-vars.test.js
  wiki/user-guides/Docker-Setup.md
Labels: docs, config, code

docs: add comprehensive delayed updates user documentation
  wiki/user-guides/Delayed-Updates-Guide.md
  wiki/user-guides/Feature-Overview.md
Labels: docs

test: add comprehensive environment variable validation and fix parsing
  src/config.js
  tests/env-var-comprehensive.test.js
Labels: code

test: add comprehensive YAML configuration validation and improve empty file handling
  src/config.js
  tests/config-yaml-comprehensive.test.js
  tests/yaml-env-var-interaction.test.js
Labels: code

test: add comprehensive configuration fallback priority validation
  tests/config-fallback-priority.test.js
Labels: none

fix: scan all books for completion detection instead of limiting to first 100
  src/audiobookshelf-client.js
Labels: code

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - 'wiki/**'
          - '*.md'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'docker-compose.yml'
          - 'Dockerfile'

code:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**'
          - '*test*.js'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
