Repository rohit-purandare/ShelfBridge, pull requests merged in 2025-08, with the labels that each got.

#41 Allow specifying a custom user
  docker-compose.yml
  docker-entrypoint.sh
Labels: config

#44 feat: extract book matching into modular architecture with comprehensive testing
  .github/workflows/ci.yml
  .gitignore
  DEVELOPMENT.md
  package-lock.json
  package.json
  src/audiobookshelf-client.js
  src/config-validator.js
  src/hardcover-client.js
  src/logger.js
  src/main.js
  src/matching/book-matcher.js
  src/matching/index.js
  src/matching/scoring/match-scorer.js
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/audiobookshelf-extractor.js
  src/matching/utils/hardcover-extractor.js
  src/matching/utils/identifier-extractor.js
  src/matching/utils/identifier-lookup.js
  src/matching/utils/normalization.js
  src/matching/utils/similarity.js
  src/progress-manager.js
  src/sync-manager.js
  src/utils.js
  src/utils/api-testing.js
  src/utils/concurrency.js
  src/utils/data.js
  src/utils/debug.js
  src/utils/index.js
  src/utils/network.js
  src/utils/task-queue.js
  src/utils/time.js
  src/utils/transaction.js
  tests/network-utilities.test.js
  tests/progress-manager.test.js
  tests/task-queue-basic.test.js
  tests/transaction.test.js
  tests/utilities.test.js
  wiki/technical/Architecture-Overview.md
  wiki/technical/CLI-Reference.md
Labels: docs, code, ci

#49 Release v1.19.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

#50 ci: implement Release Please for industry standard automated releases
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

#53 ci: fix Docker artifact chain with GitHub API authentication
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

#55 ci: fix Docker artifact chain with simplified workflow run ID logic
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

#56 ci: fix Docker Publish artifact chain - use correct Build run ID
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
Labels: ci

#58 fix: enable title/author matching when identifiers are missing and improve logging
  src/matching/book-matcher.js
  src/matching/scoring/match-scorer.js
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/sync-manager.js
  wiki/admin/Book-Matching-Logic.md
Labels: docs, code

#62 ci: standardize GitHub workflows structure and formatting
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
  .github/workflows/version-and-release.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

#66 Unified RetryManager for consistent API retry behavior
  src/audiobookshelf-client.js
  src/hardcover-client.js
  src/utils/index.js
  src/utils/retry-manager.js
  wiki/technical/GitHub-Workflows.md
  wiki/technical/Rate-Limiting.md
Labels: docs, code

#75 ci: fix Docker release tagging and update release-please configuration
  .github/workflows/docker-build.yml
  .github/workflows/docker-test.yml
  .github/workflows/version-and-release.yml
  .release-please-manifest.json
  release-please-config.json
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

#79 ci: refactor workflows to reusable components and optimize Docker tes…
  .github/actions/validate-app/action.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-test.yml
  .github/workflows/labeler.yml
  .github/workflows/reusable-docker-validation.yml
  .github/workflows/reusable-node-setup.yml
  .github/workflows/version-and-release.yml
  scripts/clean-docker-manifests.sh
  scripts/test-book-completion-fix.js
  tests/book-completion-atomic.test.js
Labels: ci

#85 ci: expand Docker workflow branch patterns
  .github/workflows/docker-build.yml
  .github/workflows/docker-test.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

#86 Refactor/extract output formatting
  src/cli/BaseCommand.js
  src/cli/CommandRegistry.js
  src/cli/commands/CacheCommand.js
  src/cli/commands/ConfigCommand.js
  src/cli/commands/CronCommand.js
  src/cli/commands/DebugCommand.js
  src/cli/commands/InteractiveCommand.js
  src/cli/commands/SchemaCommands.js
  src/cli/commands/SyncCommand.js
  src/cli/commands/TestCommand.js
  src/cli/commands/ValidateCommand.js
  src/cli/index.js
  src/display/SyncResultFormatter.js
  src/display/index.js
  src/main.js
  src/matching/book-matcher.js
  src/matching/scoring/match-scorer.js
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/audiobookshelf-extractor.js
  src/matching/utils/hardcover-extractor.js
  src/progress-manager.js
  src/utils/github-helper.js
  wiki/technical/CLI-Reference.md
Labels: docs, code

#90 Feat/delayed updates
  config/config.yaml.example
  docker-compose.yml
  src/audiobookshelf-client.js
  src/book-cache.js
  src/config-validator.js
  src/config.js
  src/main.js
  src/session-manager.js
  src/sync-manager.js
  tests/book-cache-sessions.test.js
  tests/config-fallback-priority.test.js
  tests/config-yaml-comprehensive.test.js
  tests/delayed-updates-basic.test.js
  tests/delayed-updates-config.test.js
  tests/delayed-updates-env-vars.test.js
  tests/delayed-updates-integration.test.js
  tests/env-var-comprehensive.test.js
  tests/session-manager.test.js
  tests/startup-session-recovery.test.js
  tests/yaml-env-var-interaction.test.js
  wiki/admin/Configuration-Reference.md
  wiki/technical/CLI-Reference.md
  wiki/user-guides/Delayed-Updates-Guide.md
  wiki/user-guides/Docker-Setup.md
  wiki/user-guides/Feature-Overview.md
Labels: docs, config, code

#92 chore(main): release 1.20.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, autorelease: pending

#94 Fix/auto add title author fallback
  src/sync-manager.js
Labels: code

#95 chore(main): release 1.20.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, autorelease: pending

#96 chore: clean up changelog structure and ordering
  CHANGELOG.md
Labels: docs

#97 ci: fix Docker Build workflow to always report status for branch prot…
  .github/workflows/docker-build.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

#102 chore(main): release 1.20.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, autorelease: pending

#104 fix: improve ASIN/ISBN matcher auto-add consistency and logging
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/sync-manager.js
Labels: code

#108 Fix/null userbook sync crash
  .github/workflows/docker-build.yml
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  src/sync-manager.js
  tests/additional-edge-cases.test.js
  tests/null-userbook-integration.test.js
  tests/null-userbook-unit.test.js
Labels: code, ci

#109 chore(main): release 1.20.4
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, autorelease: pending

#110 Fix/asin isbn matcher auto add consistency
  .github/workflows/docker-build.yml
  src/matching/strategies/asin-matcher.js
  src/matching/strategies/isbn-matcher.js
  wiki/technical/GitHub-Workflows.md
Labels: docs, code, ci

#111 chore(main): release 1.20.5
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, autorelease: pending

#114 fix: improve logging clarity in title-author matcher rejection logic
  .github/workflows/docker-test.yml
  src/matching/strategies/title-author-matcher.js
  src/matching/utils/text-matching.js
  wiki/technical/GitHub-Workflows.md
Labels: docs, code, ci

#116 ci: fix Docker test workflow for PR builds
  .github/workflows/reusable-docker-validation.yml
  wiki/technical/GitHub-Workflows.md
Labels: docs, ci

#113 chore(main): release 1.21.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs, autorelease: pending
